<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="../assets/css/login.css">
</head>
<body>
  <div class="login-form">
    <h2>Iniciar Sesión</h2>
    <div class="form-group_login ">
      <i class="fas fa-envelope"></i>
      <input type="email" placeholder="Correo electrónico" required>
    </div>
    <div class="form-group_login ">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Contraseña" required>
    </div>
    <a href="gestion_productos.html"style="background-color: #ff3366; border: 5px;"class="btn btn-primary btn-block">Iniciar Sesión</a>
    <div class="form-actions">
      <a href="sign up.html">¿Tienes tu tienda registrada? Regístrala ahora</a>
      <div class="google-btn">
        <i class="fab fa-google"></i>
        Iniciar Sesión con Google
      </div>
    </div>
  </div>
</body>
</html>

