<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="../assets/css/detalle.css">
     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

  <header>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><img id="logo" src="../assets/img/logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
           
              <li class="nav-item">
                  <a class="nav-link" href="../index.html">Market</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="views/login.html">Vende Con Nosotros</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categorías
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Moda deportiva</a>
                      <a class="dropdown-item" href="#">Moda sport</a>
                      <a class="dropdown-item" href="#">Moda casual</a>
                      <a class="dropdown-item" href="#">Moda de alta costura</a>
                      <a class="dropdown-item" href="#">Zapatos</a>
                      <a class="dropdown-item" href="#">Accesorios</a>
                  </div>
              </li>
          </ul>
      </div>
  </nav>
  </header> 
  


  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="img_container">
                <img src="../assets/img/Saco-Naranja-Hombre-Luna-Estampada-A.png" alt="" class="main_img img-fluid">
            </div>
            <div class="thumbnail_container mt-3">
                <img class="thumbnail active" src="../assets/img/Saco-Naranja-Hombre-Luna-Estampada-A.png" alt="">
                <img class="thumbnail" src="../assets/img/saconaranja2.png" alt="">
                <img class="thumbnail" src="../assets/img/saconaranja3.webp" alt="">
                <img class="thumbnail" src="../assets/img/saconaranja4.webp" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <h1>Saco Naranja Hombre Luna Estampada</h1>
            <p class="product-description">¡Experimenta el estilo y la comodidad definitivos con nuestro Saco Naranja Hombre Luna Estampada! Perfecto para hombres que buscan destacar con un toque de originalidad y elegancia en cada atuendo. Confeccionado con los materiales de más alta calidad, este saco presenta un diseño único que combina un tono vibrante de naranja con un estampado sutil de lunas, brindando un toque de distinción a tu vestimenta.</p>
            <div class="product-features">
                <h3>Características</h3>
                <ul>
                    <li>Color: Naranja intenso y llamativo</li>
                    <li>Género: Diseñado para hombres modernos</li>
                    <li>Estilo: Estampado de lunas para un look único</li>
                    <li>Material: Tela suave y duradera para una sensación confortable</li>
                    <li>Ocasión: Ideal para ocasiones especiales o para realzar tu estilo diario</li>
                </ul>
            </div>
            <div class="talla">
                <h2>TALLA</h2>
                <ul>
                    <li>XS</li>
                    <li>S</li>
                    <li>M</li>
                    <li>L</li>
                    <li>XL</li>
                </ul>
            </div>
            <h1 class="product-price">125.000 col</h1>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Lo Quieres?! envia un whatsApp al vendedor...">
                <div class="input-group-append">
                    <a href="https://wa.me/NUMERO_DE_TELEFONO" class="btn btn-success" type="button">Enviar a WhatsApp</a>
                </div>
            </div>
            <div class="product-availability">
                <h3>Métodos de envío</h3>
                <div class="shipping-methods">
                  <button class="shipping-method">
                      <i class="fas fa-truck"></i>
                      <br>
                      Envío gratuito para pedidos superiores a $50
                  </button>
                  <button class="shipping-method">
                      <i class="fas fa-plane-departure"></i>
                      <br>
                      Envío exprés disponible
                  </button>
                  <button class="shipping-method">
                      <i class="fas fa-store"></i>
                      <br>
                      Recogida en tienda disponible
                  </button>
              </div>
              
            </div>
        </div>
    </div>
</div>




<section id="vendedor">
  <!-- Información del vendedor -->
  <div class="seller-info">
      <h2>Información del Vendedor</h2>
      <div class="vendedordiv">
          <div class="datos">
            <div class="card_d">
              <p><strong>Nombre:</strong> Boutique La Elegancia</p>
              <p>
                  <strong>WhatsApp:</strong>
                  <a href="https://wa.me/NUMERO_DE_TELEFONO" target="_blank">+57 3216554567 <i class="fa fa-whatsapp"></i></a>
              </p>

              <img  src="../assets/img/logobu.webp" alt="">

              <div class="seller-rating">
                <h3>Calificación:</h3>
                <!-- Coloca aquí las estrellas de calificación -->
                <!-- Por ejemplo, puedes usar íconos de estrellas de FontAwesome -->
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <p>
                    <a href="pagina_todos_los_productos_del_vendedor.php">Ver todos los productos</a>
                </p>

              </div> 

            </div>
          </div>
          <div class="map">
            <h3><p><strong>Dirección:</strong> Av. Principal #123, Ciudad Bella</p></h3>
              <!-- Mapa de ubicación -->
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31874.444560805237!2d-76.52350264411845!3d3.012279365900534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e307fdbfac39b1d%3A0x88f4bd758c387951!2sPasaje%20Comercial%20Santander%20De%20Quilichao!5e0!3m2!1ses-419!2sco!4v1704584791187!5m2!1ses-419!2sco" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
      </div>
      
  </div>
</section>


<section id="comentarios" class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">Comentarios</h2>
    <div class="row">

      <!-- Columna para cada comentario, ocupando 12 columnas en dispositivos pequeños y 3 columnas en dispositivos medianos y grandes -->
      <div class="col-12 col-md-3 mb-4">
        <div class="comentario-card">
          <p class="nombre">Karen</p>
          <p class="mensaje">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p class="calificacion">Calificación: ★★★★★</p>
        </div>
      </div>

      <!-- Repite este bloque para cada comentario -->
      <div class="col-12 col-md-3 mb-4">
        <div class="comentario-card">
          <p class="nombre">Atreus</p>
          <p class="mensaje">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p class="calificacion">Calificación: ★★★★</p>
        </div>
      </div>

      <!-- Repite este bloque para cada comentario -->
      <div class="col-12 col-md-3 mb-4">
        <div class="comentario-card">
          <p class="nombre">Zeus</p>
          <p class="mensaje">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p class="calificacion">Calificación: ★★★★★</p>
        </div>
      </div>

      <!-- Repite este bloque para cada comentario -->
      <div class="col-12 col-md-3 mb-4">
        <div class="comentario-card">
          <p class="nombre">Athena</p>
          <p class="mensaje">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p class="calificacion">Calificación: ★★★★</p>
        </div>
      </div>

    </div>
  </div>
</section>

<footer class="bg-light text-center py-3">
    <div class="container">
        <p>Todos los derechos reservados &copy; 2023 The Closet Quilichao</p>
    </div>
</footer>
<script src="https://maps.googleapis.com/maps/api/js?key=TU_API_KEY&callback=initMap" async defer></script>


 <!-- Include Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

 <script src="js/main.js"></script>
</body>
</html>
